In [3]:
import numpy as np
import pandas as pd 
maas = np.array([1 ,3 ,6 ,np.NaN , 7 ,1 ,np.NaN ,9 , 15])
v2 = np.array([7 ,np.NaN ,5 ,8 ,12 ,np.NaN ,np.NaN ,2 ,3])
v3 = np.array([np.NaN ,12 ,5 ,6 ,14 ,7 ,np.NaN , 2 ,31])
v4 = np.array(["IT" ,"IT" ,"IK" ,"IT" ,"IK" ,"IT" ,"IK" ,"IT" ,"IK"])
df = pd.DataFrame(
    {
        "maas" : maas,
        "v2" : v2,
        "v3" : v3,
        "departman" : v4 
    }

)

In [4]:
df

   maas    v2    v3 departman
0   1.0   7.0   NaN        IT
1   3.0   NaN  12.0        IT
2   6.0   5.0   5.0        IK
3   NaN   8.0   6.0        IT
4   7.0  12.0  14.0        IK
5   1.0   NaN   7.0        IT
6   NaN   NaN   NaN        IK
7   9.0   2.0   2.0        IT
8  15.0   3.0  31.0        IK

In [7]:
df.groupby("departman")["maas"].mean()

departman
IK    9.333333
IT    3.500000
Name: maas, dtype: float64

In [8]:
df["maas"].fillna(df.groupby("departman")["maas"].mean()) # olamz burada transform kullan覺lmal覺

0     1.0
1     3.0
2     6.0
3     NaN
4     7.0
5     1.0
6     NaN
7     9.0
8    15.0
Name: maas, dtype: float64

In [9]:
df["maas"].fillna(df.groupby("departman")["maas"].transform("mean")) # olamz burada transform kullan覺lmal覺

0     1.000000
1     3.000000
2     6.000000
3     3.500000
4     7.000000
5     1.000000
6     9.333333
7     9.000000
8    15.000000
Name: maas, dtype: float64