# Metin Görselleştirme

In [1]:
import pandas as pd 
data = pd.read_csv( "train.tsv" ,sep = "\t" )

In [2]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
PhraseId      156060 non-null int64
SentenceId    156060 non-null int64
Phrase        156060 non-null object
Sentiment     156060 non-null int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB


#### Küçük harf dönüşümü :

In [9]:
data.Phrase = data.Phrase.apply( lambda x : " ".join(i.lower() for i in x.split() ) )

In [11]:
data.Phrase

0         a series of escapades demonstrating the adage ...
1         a series of escapades demonstrating the adage ...
2                                                  a series
3                                                         a
4                                                    series
                                ...
156055                                             hearst s
156056                            forced avuncular chortles
156057                                   avuncular chortles
156058                                            avuncular
156059                                             chortles
Name: Phrase, Length: 156060, dtype: object

#### Noktalama işaretlerinin silinmesi :

In [10]:
data.Phrase = data.Phrase.str.replace("[^\w\s]" , "")

In [12]:
data.Phrase

0         a series of escapades demonstrating the adage ...
1         a series of escapades demonstrating the adage ...
2                                                  a series
3                                                         a
4                                                    series
                                ...
156055                                             hearst s
156056                            forced avuncular chortles
156057                                   avuncular chortles
156058                                            avuncular
156059                                             chortles
Name: Phrase, Length: 156060, dtype: object

#### Sayıların silinmesi :

In [13]:
data.Phrase.str.replace("\d" , "")

0         a series of escapades demonstrating the adage ...
1         a series of escapades demonstrating the adage ...
2                                                  a series
3                                                         a
4                                                    series
                                ...
156055                                             hearst s
156056                            forced avuncular chortles
156057                                   avuncular chortles
156058                                            avuncular
156059                                             chortles
Name: Phrase, Length: 156060, dtype: object

#### Stopwords ( İngilizce takılardan ayıklamak )

In [17]:
import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords 

sw = stopwords.words( "english" )
data.Phrase.apply( lambda x : " ".join(i for i in x.split() if i  not in sw ) )

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Mustafa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0         series escapades demonstrating adage good goos...
1           series escapades demonstrating adage good goose
2                                                    series
3
4                                                    series
                                ...
156055                                               hearst
156056                            forced avuncular chortles
156057                                   avuncular chortles
156058                                            avuncular
156059                                             chortles
Name: Phrase, Length: 156060, dtype: object

In [18]:
data.Phrase = data.Phrase.apply( lambda x : " ".join(i for i in x.split() if i  not in sw ) )

#### Seyrek değerlerin silinmesi

In [21]:
sil = pd.Series( " ".join( data.Phrase ).split() ).value_counts()[-1000:]

In [22]:
sil

oo                5
alreadyshallow    5
clinch            5
interfering       5
essay             5
                 ..
aggrieved         1
omitted           1
retrospective     1
tu                1
overstylized      1
Length: 1000, dtype: int64

In [24]:
data.Phrase = data.Phrase.apply( lambda x : " ".join( i for i in x.split() if i not in sil ) )

#### Kelimeleri köklerine indirmek (Lemmantize)

In [28]:
from textblob import Word
data['Phrase'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

0         series demonstrating adage good goose also goo...
1                     series demonstrating adage good goose
2                                                    series
3
4                                                    series
                                ...
156055                                               hearst
156056                             forced avuncular chortle
156057                                    avuncular chortle
156058                                            avuncular
156059                                              chortle
Name: Phrase, Length: 156060, dtype: object

In [29]:
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

### Kelime Frekansları

In [37]:
k_frekans = data.Phrase.apply( lambda x : pd.value_counts( x.split() ).sum(axis = 0 ) )

In [38]:
k_frekans

0         14
1          5
2          1
3          0
4          1
          ..
156055     1
156056     3
156057     2
156058     1
156059     1
Name: Phrase, Length: 156060, dtype: int64

In [39]:
(data.Phrase.apply)( lambda x : pd.value_counts( x.split() ).sum(axis = 0 ) )

0         14
1          5
2          1
3          0
4          1
          ..
156055     1
156056     3
156057     2
156058     1
156059     1
Name: Phrase, Length: 156060, dtype: int64