# Metni Sayılarla betimlemek

In [66]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [67]:
metin = metin.split("\n")

In [68]:
import pandas as pd 
metin = pd.Series(metin)
metin

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [69]:
pdf = pd.DataFrame(metin[1:] , columns=  ["hikayeler"])

In [70]:
pdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

## Harf / Karakter Sayısı Bulma

In [71]:
pdf["hikayeler"]

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
Name: hikayeler, dtype: object

In [72]:
pdf.hikayeler.str
# .str işlemi ile pandas serimizi String metoduna döndürdük

In [73]:
pdf.hikayeler.str.len()
# her satırdaki hikayede kaç karkter olduğunu aldık (boşluklar dahildir)

1     24
2     23
3     22
4     28
5     21
6     29
7     35
8     34
9     37
10    35
11    34
12    35
Name: hikayeler, dtype: int64

#### karakter sayılarımızı DataFrame'mizin üzerine ekliyelim

In [74]:

pdf["Karakter_Sayısı"] = pdf.hikayeler.str.len()

In [75]:
pdf
# successfully

                                hikayeler  Karakter_Sayısı
1                A Scandal in Bohemia! 01               24
2                 The Red-headed League,2               23
3                  A Case, of Identity 33               22
4            The Boscombe Valley Mystery4               28
5                   The Five Orange Pips1               21
6           The Man with? the Twisted Lip               29
7     The Adventure of the Blue Carbuncle               35
8      The Adventure of the Speckled Band               34
9   The Adventure of the Engineer's Thumb               37
10    The Adventure of the Noble Bachelor               35
11     The Adventure of the Beryl Coronet               34
12    The Adventure of the Copper Beeches               35

# Kelime sayısı bulma

In [76]:
a = "kelime sayısını alalım"

In [77]:
a.split()

['kelime', 'sayısını', 'alalım']

In [78]:
# a.split().len()
# tabiki böyle kullanmayayacağız

In [79]:
len( a.split() )

3

##### DataFrame  üzerinden parca seçim üzerinde Uygulayalım

In [80]:
b = pdf.iloc[:1 ,:1]
len(b.iloc[0].str.split())

1

In [81]:
b.iloc[0].str.split()
# cıktımızdan  0.indexi secip stringe dönüştürdükten sonra split işlemi uyguluyoruz

hikayeler    [A, Scandal, in, Bohemia!, 01]
Name: 1, dtype: object

In [82]:
b.iloc[0].str.split().hikayeler
# ardından hikayeler anaktarıyla gelen değerlerimizi alıyoruz

['A', 'Scandal', 'in', 'Bohemia!', '01']

In [83]:
len( b.iloc[0].str.split().hikayeler )
# ve bunların uzunluğunu alıyoruz

5

##### DataFrame üzeründe uygulayalım

In [84]:
pdf.hikayeler.apply( lambda x : len( str(x).split() )  )

# DataFrame üzerinden gelen değerleri string ge ceviriyoruz ardından split ediyoruz
# en son uzunluklarını alıyoruz

1     5
2     3
3     5
4     4
5     4
6     6
7     6
8     6
9     6
10    6
11    6
12    6
Name: hikayeler, dtype: int64

In [85]:
pdf["Kelime_Sayısı"] = pdf.hikayeler.apply( lambda x : len( str(x).split() ) )

In [87]:
pdf
# successfully

                                hikayeler  Karakter_Sayısı  Kelime_Sayısı
1                A Scandal in Bohemia! 01               24              5
2                 The Red-headed League,2               23              3
3                  A Case, of Identity 33               22              5
4            The Boscombe Valley Mystery4               28              4
5                   The Five Orange Pips1               21              4
6           The Man with? the Twisted Lip               29              6
7     The Adventure of the Blue Carbuncle               35              6
8      The Adventure of the Speckled Band               34              6
9   The Adventure of the Engineer's Thumb               37              6
10    The Adventure of the Noble Bachelor               35              6
11     The Adventure of the Beryl Coronet               34              6
12    The Adventure of the Copper Beeches               35              6

# Özel Kelimeleri Yakalayıp & Saydırmak

In [89]:
pdf

                                hikayeler  Karakter_Sayısı  Kelime_Sayısı
1                A Scandal in Bohemia! 01               24              5
2                 The Red-headed League,2               23              3
3                  A Case, of Identity 33               22              5
4            The Boscombe Valley Mystery4               28              4
5                   The Five Orange Pips1               21              4
6           The Man with? the Twisted Lip               29              6
7     The Adventure of the Blue Carbuncle               35              6
8      The Adventure of the Speckled Band               34              6
9   The Adventure of the Engineer's Thumb               37              6
10    The Adventure of the Noble Bachelor               35              6
11     The Adventure of the Beryl Coronet               34              6
12    The Adventure of the Copper Beeches               35              6

In [90]:
özel_kelime = "the"

In [102]:
# pdf.hikayeler.apply( lambda x :  len(i for i in x.split() if i.startswith( özel_kelime )))

# burda len fonksiyononunu böyle kullanamayız ,sebebi generator nesnelerin uzunluğunu alamayız
# işlemlerimizi dizi formatına getirip uzunluğunu alacağız

TypeError: object of type 'generator' has no len()

In [108]:
pdf.hikayeler.apply(lambda x :  len([i for i in x.split() if i.startswith( özel_kelime )] ))

1     0
2     0
3     0
4     0
5     0
6     1
7     1
8     1
9     1
10    1
11    1
12    1
Name: hikayeler, dtype: int64

#### veri setine ekliyelim

In [111]:
pdf["the_sayısı"] = pdf.hikayeler.apply( lambda x : len([i for i in x.split() 
                                                        if i.startswith( özel_kelime )  ]) )

In [112]:
pdf

,hikayeler,Karakter_Sayısı,Kelime_Sayısı,the_sayısı
1,A Scandal in Bohemia! 01,24,5,0
2,"The Red-headed League,2",23,3,0
3,"A Case, of Identity 33",22,5,0
4,The Boscombe Valley Mystery4,28,4,0
5,The Five Orange Pips1,21,4,0
6,The Man with? the Twisted Lip,29,6,1
7,The Adventure of the Blue Carbuncle,35,6,1
8,The Adventure of the Speckled Band,34,6,1
9,The Adventure of the Engineer's Thumb,37,6,1
10,The Adventure of the Noble Bachelor,35,6,1
11,The Adventure of the Beryl Coronet,34,6,1
12,The Adventure of the Copper Beeches,35,6,1

# Numerik değerleri yakalayıp Saydırmak

In [113]:
pdf.hikayeler.apply( lambda x : len( [i for i in x.split()
                                      if i.isdigit()] ) )
# eğer kelimemiz numerikse diziye atıyacak ve bunları sayacak

1     1
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: hikayeler, dtype: int64

In [115]:
pdf["Numerik_değer_sayısı"] = pdf.hikayeler.apply( lambda x : len( [i for i in x.split()
                                      if i.isdigit()] ) )