In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Hitters.csv")
df = df.copy()
df.head()
#veri setimizde index problemi yok

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

In [2]:
df.shape

(322, 20)

In [3]:
df.isnull().sum()
# salary değişkenlerimizde boş gözlemler bulunmaktadır 
# bunları ortalama ile dolduralım

AtBat         0
Hits          0
HmRun         0
Runs          0
RBI           0
Walks         0
Years         0
CAtBat        0
CHits         0
CHmRun        0
CRuns         0
CRBI          0
CWalks        0
League        0
Division      0
PutOuts       0
Assists       0
Errors        0
Salary       59
NewLeague     0
dtype: int64

In [4]:
df["Salary"].fillna(df.Salary.mean() , inplace = True)
# boş maaş değerlerini ortalama ile doldurduk aslında bunları ilerde tahmin ile dolduracağız

In [5]:
df.isnull().sum().any()
# datamızda boş değer var mı ?

False

In [6]:
df.info()
# veri setimizdeki kategorik değişkenleri düzenliyelim

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 20 columns):
AtBat        322 non-null int64
Hits         322 non-null int64
HmRun        322 non-null int64
Runs         322 non-null int64
RBI          322 non-null int64
Walks        322 non-null int64
Years        322 non-null int64
CAtBat       322 non-null int64
CHits        322 non-null int64
CHmRun       322 non-null int64
CRuns        322 non-null int64
CRBI         322 non-null int64
CWalks       322 non-null int64
League       322 non-null object
Division     322 non-null object
PutOuts      322 non-null int64
Assists      322 non-null int64
Errors       322 non-null int64
Salary       322 non-null float64
NewLeague    322 non-null object
dtypes: float64(1), int64(16), object(3)
memory usage: 50.4+ KB

# Kategorik değişkenleri modellemeye hazır hale getirme

In [7]:
from sklearn.preprocessing import LabelEncoder 
cat_list = ["NewLeague" , "Division" , "League"] 

lbe = LabelEncoder()
for i in cat_list:
    df[i] = lbe.fit_transform(df[i])

In [8]:
df.head(3)
# tip dönüşümlerini başarılı bir şekilde uyguladık

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,0,0,446,33,20,535.925882,0
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,1,1,632,43,10,475.000000,1
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,0,1,880,82,14,480.000000,0

# Bagimli ve bağımsız değişken ayrışımı

In [9]:
X = df.drop("Salary"  , axis = 1) # bagımsız degisken

In [10]:
y = df["Salary"] #bagimli değisken

# Veri setini Train_Test olarak ayırma

In [11]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.20)

In [12]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)
# doğru parcalamışız

(257, 19)
(257,)
(65, 19)
(65,)

# Model Kurma

In [13]:
from sklearn.neighbors import KNeighborsRegressor

In [14]:
knn = KNeighborsRegressor(n_neighbors = 5 )
# n_neigbors = komşu sayısı

In [15]:
knn_model = knn.fit(X_train , y_train)

In [16]:
#knn_model.coef_ #evet bu parametrede katsayı yoktur komşu yakınlığı vardır : )

In [17]:
dir(knn_model)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_algorithm_metric',
 '_estimator_type',
 '_fit',
 '_fit_X',
 '_fit_method',
 '_get_param_names',
 '_get_tags',
 '_kneighbors_reduce_func',
 '_more_tags',
 '_pairwise',
 '_tree',
 '_y',
 'algorithm',
 'effective_metric_',
 'effective_metric_params_',
 'fit',
 'get_params',
 'kneighbors',
 'kneighbors_graph',
 'leaf_size',
 'metric',
 'metric_params',
 'n_jobs',
 'n_neighbors',
 'p',
 'predict',
 'radius',
 'score',
 'set_params',
 'weights']

In [18]:
knn_model.n_neighbors 
# evet modelimizin komşu sayısını görüntüledik

5

### tahmin

In [19]:
from sklearn.metrics import mean_squared_error ,r2_score
from sklearn.model_selection import cross_val_score

In [20]:
y_pred = knn_model.predict(X_test)

In [21]:
np.sqrt( mean_squared_error(y_test , y_pred) )

300.45919172905536

In [22]:
r2_score( y_test ,y_pred )

0.4033181597082245

In [23]:
RMSE = list()
RMSE_cross = list() 
for i in range(1, 11 ): 
    
    knn = KNeighborsRegressor( n_neighbors = i )
    knn_model = knn.fit(X_train ,y_train )
    y_pred = knn_model.predict(X_train)
    
    score_1 = np.sqrt( mean_squared_error(y_train , y_pred ) )
    score_2 = np.sqrt( -1 * cross_val_score(knn_model,
                                            X_train,
                                            y_train,
                                            cv = 10,
                                            scoring = "neg_mean_squared_error").mean())

    RMSE.append(score_1)
    RMSE_cross.append(score_2)
    
    print("k " + str(i) +  "için RMSE : " + str(score_1) + "    ---- RMSE_cros" + str(score_2 ) )

k 1için RMSE : 0.0    ---- RMSE_cros382.88885020680317
k 2için RMSE : 180.28622236566883    ---- RMSE_cros340.40515058160565
k 3için RMSE : 217.47118742732823    ---- RMSE_cros342.6012103281844
k 4için RMSE : 248.80221712651593    ---- RMSE_cros331.9950242322866
k 5için RMSE : 265.9142845964702    ---- RMSE_cros335.04188463378784
k 6için RMSE : 274.6895724200648    ---- RMSE_cros339.83985848100014
k 7için RMSE : 282.87006863778595    ---- RMSE_cros335.65417604140816
k 8için RMSE : 291.10796654459074    ---- RMSE_cros336.0630610245421
k 9için RMSE : 296.1268329641281    ---- RMSE_cros338.81235484956323
k 10için RMSE : 303.11154905306614    ---- RMSE_cros339.92263483513455

- yukarıda görüldüğü gibi caprazlama yapmadan RMSE değerini almak bizi yanıltabilir

# Model Tuning , cross_val i GridSearchCV

In [75]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import mean_squared_error ,r2_score

In [76]:
knn = KNeighborsRegressor()
knn_params = {"n_neighbors" : np.arange(1,30 ,1)}
# burda parametreleri bir sozcuk içerisinde depoladık

In [77]:
knn_cv = GridSearchCV(knn ,
                     knn_params,
                     cv =10)
# burda regressionnu , parametreleri ve caprazlama sayısını girdik

In [78]:
y_train

281    350.0
107    750.0
141    250.0
185    725.0
152    110.0
       ...
214    670.0
267    740.0
255    250.0
1      475.0
258    750.0
Name: Salary, Length: 257, dtype: float64

In [79]:
knn_cv_model = knn_cv.fit(X_train , y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [81]:
knn_cv_model.best_params_

{'n_neighbors': 14}

In [89]:
k_best = knn_cv_model.best_params_["n_neighbors"]
# evet en optimum komşu sayımızı bulduk 
k_best

14

# Final Modeli kurma

In [93]:
knn_tuned = KNeighborsRegressor( n_neighbors = k_best ).fit(X_train ,y_train )

In [95]:
y_pred = knn_tuned.predict(X_test)

In [96]:
np.sqrt( mean_squared_error( y_test , y_pred ) )

307.77800488202314