# Spark Kontorl

In [391]:
import findspark

In [392]:
findspark.init("C:\spark\spark-2.4.5-bin-hadoop2.7")

In [393]:
from pyspark import SparkContext

In [394]:
spark = SparkContext(master = "local")


spark

In [395]:
spark.stop()

# Bağlantı oluşturma

In [396]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark import SparkContext

In [397]:
spark = SparkSession.builder \
.master("local") \
.appName("spark-uygulama") \
.config("spark.executer.memory" , "16gb") \
.getOrCreate()

sc = spark.sparkContext
sc

In [398]:
sdf =  spark.read.csv("churn.csv" , header = True ,sep = ",")
sdf.cache()

DataFrame[_c0: string, Names: string, Age: string, Total_Purchase: string, Account_Manager: string, Years: string, Num_Sites: string, Churn: string]

In [399]:
sdf.dtypes

[('_c0', 'string'),
 ('Names', 'string'),
 ('Age', 'string'),
 ('Total_Purchase', 'string'),
 ('Account_Manager', 'string'),
 ('Years', 'string'),
 ('Num_Sites', 'string'),
 ('Churn', 'string')]

In [400]:
sdf.show()

+---+-------------------+----+--------------+---------------+-----+---------+-----+
|_c0|              Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|Churn|
+---+-------------------+----+--------------+---------------+-----+---------+-----+
|  0|   Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|    1|
|  1|      Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|    1|
|  2|        Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|    1|
|  3|      Phillip White|42.0|       8010.76|              0| 6.71|     10.0|    1|
|  4|     Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|    1|
|  5|   Jessica Williams|48.0|      10356.02|              0| 5.12|      8.0|    1|
|  6|        Eric Butler|44.0|      11331.58|              1| 5.23|     11.0|    1|
|  7|      Zachary Walsh|32.0|       9885.12|              1| 6.92|      9.0|    1|
|  8|        Ashlee Carr|43.0|       14062.6|              1| 5.46|     11.0|    1|
|  9|     Jennifer Lynch|40.0|       8066.94|              1| 7.11|     11.0|    1|
| 10|       Paula Harris|30.0|      11575.37|              1| 5.22|      8.0|    1|
| 11|     Bruce Phillips|45.0|       8771.02|              1| 6.64|     11.0|    1|
| 12|       Craig Garner|45.0|       8988.67|              1| 4.84|     11.0|    1|
| 13|       Nicole Olson|40.0|       8283.32|              1|  5.1|     13.0|    1|
| 14|     Harold Griffin|41.0|       6569.87|              1|  4.3|     11.0|    1|
| 15|       James Wright|38.0|      10494.82|              1| 6.81|     12.0|    1|
| 16|      Doris Wilkins|45.0|       8213.41|              1| 7.35|     11.0|    1|
| 17|Katherine Carpenter|43.0|      11226.88|              0| 8.08|     12.0|    1|
| 18|     Lindsay Martin|53.0|       5515.09|              0| 6.85|      8.0|    1|
| 19|        Kathy Curry|46.0|        8046.4|              1| 5.69|      8.0|    1|
+---+-------------------+----+--------------+---------------+-----+---------+-----+
only showing top 20 rows

In [401]:
sdf.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Names: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Total_Purchase: string (nullable = true)
 |-- Account_Manager: string (nullable = true)
 |-- Years: string (nullable = true)
 |-- Num_Sites: string (nullable = true)
 |-- Churn: string (nullable = true)

In [402]:
sdf = sdf.dropna()

# Sutun isimlerini düzenleme

In [403]:
sdf = sdf.toDF(*[c.lower() for c in sdf.columns ])

In [404]:
sdf.show()

+---+-------------------+----+--------------+---------------+-----+---------+-----+
|_c0|              names| age|total_purchase|account_manager|years|num_sites|churn|
+---+-------------------+----+--------------+---------------+-----+---------+-----+
|  0|   Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|    1|
|  1|      Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|    1|
|  2|        Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|    1|
|  3|      Phillip White|42.0|       8010.76|              0| 6.71|     10.0|    1|
|  4|     Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|    1|
|  5|   Jessica Williams|48.0|      10356.02|              0| 5.12|      8.0|    1|
|  6|        Eric Butler|44.0|      11331.58|              1| 5.23|     11.0|    1|
|  7|      Zachary Walsh|32.0|       9885.12|              1| 6.92|      9.0|    1|
|  8|        Ashlee Carr|43.0|       14062.6|              1| 5.46|     11.0|    1|
|  9|     Jennifer Lynch|40.0|       8066.94|              1| 7.11|     11.0|    1|
| 10|       Paula Harris|30.0|      11575.37|              1| 5.22|      8.0|    1|
| 11|     Bruce Phillips|45.0|       8771.02|              1| 6.64|     11.0|    1|
| 12|       Craig Garner|45.0|       8988.67|              1| 4.84|     11.0|    1|
| 13|       Nicole Olson|40.0|       8283.32|              1|  5.1|     13.0|    1|
| 14|     Harold Griffin|41.0|       6569.87|              1|  4.3|     11.0|    1|
| 15|       James Wright|38.0|      10494.82|              1| 6.81|     12.0|    1|
| 16|      Doris Wilkins|45.0|       8213.41|              1| 7.35|     11.0|    1|
| 17|Katherine Carpenter|43.0|      11226.88|              0| 8.08|     12.0|    1|
| 18|     Lindsay Martin|53.0|       5515.09|              0| 6.85|      8.0|    1|
| 19|        Kathy Curry|46.0|        8046.4|              1| 5.69|      8.0|    1|
+---+-------------------+----+--------------+---------------+-----+---------+-----+
only showing top 20 rows

In [405]:
sdf = sdf.withColumnRenamed("_c0" , "index")

In [406]:
sdf.show()

+-----+-------------------+----+--------------+---------------+-----+---------+-----+
|index|              names| age|total_purchase|account_manager|years|num_sites|churn|
+-----+-------------------+----+--------------+---------------+-----+---------+-----+
|    0|   Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|    1|
|    1|      Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|    1|
|    2|        Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|    1|
|    3|      Phillip White|42.0|       8010.76|              0| 6.71|     10.0|    1|
|    4|     Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|    1|
|    5|   Jessica Williams|48.0|      10356.02|              0| 5.12|      8.0|    1|
|    6|        Eric Butler|44.0|      11331.58|              1| 5.23|     11.0|    1|
|    7|      Zachary Walsh|32.0|       9885.12|              1| 6.92|      9.0|    1|
|    8|        Ashlee Carr|43.0|       14062.6|              1| 5.46|     11.0|    1|
|    9|     Jennifer Lynch|40.0|       8066.94|              1| 7.11|     11.0|    1|
|   10|       Paula Harris|30.0|      11575.37|              1| 5.22|      8.0|    1|
|   11|     Bruce Phillips|45.0|       8771.02|              1| 6.64|     11.0|    1|
|   12|       Craig Garner|45.0|       8988.67|              1| 4.84|     11.0|    1|
|   13|       Nicole Olson|40.0|       8283.32|              1|  5.1|     13.0|    1|
|   14|     Harold Griffin|41.0|       6569.87|              1|  4.3|     11.0|    1|
|   15|       James Wright|38.0|      10494.82|              1| 6.81|     12.0|    1|
|   16|      Doris Wilkins|45.0|       8213.41|              1| 7.35|     11.0|    1|
|   17|Katherine Carpenter|43.0|      11226.88|              0| 8.08|     12.0|    1|
|   18|     Lindsay Martin|53.0|       5515.09|              0| 6.85|      8.0|    1|
|   19|        Kathy Curry|46.0|        8046.4|              1| 5.69|      8.0|    1|
+-----+-------------------+----+--------------+---------------+-----+---------+-----+
only showing top 20 rows

# Keşifci Veri Analizi

In [407]:
sdf.distinct().count()

900

In [408]:
sdf.count()

900

- Tekrar eden gözlem yok

In [409]:
sdf.select("names").distinct().count()

899

- isimlerde tekrar eden gözlem var

In [410]:
sdf.groupby("names").count().sort("count" , ascending = False).show(3)
# tekrar eden isimi bulduk bakalım veri tekrarı mı ?

+----------------+-----+
|           names|count|
+----------------+-----+
|   Jennifer Wood|    2|
|     John Barber|    1|
|Patrick Robinson|    1|
+----------------+-----+
only showing top 3 rows

In [411]:
sdf.filter(sdf.names == "Jennifer Wood").show()

+-----+-------------+----+--------------+---------------+-----+---------+-----+
|index|        names| age|total_purchase|account_manager|years|num_sites|churn|
+-----+-------------+----+--------------+---------------+-----+---------+-----+
|   22|Jennifer Wood|35.0|       9381.12|              1| 6.78|     11.0|    1|
|  439|Jennifer Wood|48.0|      11585.16|              0| 4.61|      9.0|    0|
+-----+-------------+----+--------------+---------------+-----+---------+-----+

- hayır bunlar farklı kişiler

In [412]:
sdf.select("names").dropDuplicates().groupby("names").count().sort("count" , ascending = False).show(3)
# tekrar eden isimleri sil , isme göre grupla ve buyukten küçüğe isim sayılarını getir

+----------------+-----+
|           names|count|
+----------------+-----+
|    Patrick Bell|    1|
|Patrick Robinson|    1|
|   Chelsea Marsh|    1|
+----------------+-----+
only showing top 3 rows

In [413]:
sdf.where(sdf.index == 439).select("names").show()
# index bazlı veri geitrme

+-------------+
|        names|
+-------------+
|Jennifer Wood|
+-------------+

- index bazlı veriyi strin olarak alma

In [414]:
metin = sdf.where(sdf.index == 333).collect()[0]["names"]

In [415]:
metin

'John Davis'

# Çapraz analiz

In [416]:
print(sdf.describe().show())

+-------+------------------+-------------+-----------------+-----------------+------------------+-----------------+------------------+-------------------+
|summary|             index|        names|              age|   total_purchase|   account_manager|            years|         num_sites|              churn|
+-------+------------------+-------------+-----------------+-----------------+------------------+-----------------+------------------+-------------------+
|  count|               900|          900|              900|              900|               900|              900|               900|                900|
|   mean|             449.5|         null|41.81666666666667|10062.82403333334|0.4811111111111111| 5.27315555555555| 8.587777777777777|0.16666666666666666|
| stddev|259.95191863111916|         null|6.127560416916251|2408.644531858096|0.4999208935073339|1.274449013194616|1.7648355920350969| 0.3728852122772358|
|    min|                 0|   Aaron King|             22.0|            100.0|                 0|              1.0|              10.0|                  0|
|    max|                99|Zachary Walsh|             65.0|           9993.5|                 1|             9.15|               9.0|                  1|
+-------+------------------+-------------+-----------------+-----------------+------------------+-----------------+------------------+-------------------+

None

- Daha güzel şekilde almak istersek pandasDataframe'ye çevirebiliriz

In [417]:
sdf.select("age","total_purchase", "account_manager", "years","num_sites","churn").describe().toPandas().T

                     0                    1                   2      3       4
summary          count                 mean              stddev    min     max
age                900    41.81666666666667   6.127560416916251   22.0    65.0
total_purchase     900    10062.82403333334   2408.644531858096  100.0  9993.5
account_manager    900   0.4811111111111111  0.4999208935073339      0       1
years              900     5.27315555555555   1.274449013194616    1.0    9.15
num_sites          900    8.587777777777777  1.7648355920350969   10.0     9.0
churn              900  0.16666666666666666  0.3728852122772358      0       1

In [418]:
sdf.filter( sdf.age > 35).count()

768

- 900 kişi içerisinden 768 kişi 35 yaşından büyüktür

In [419]:
sdf.groupby("churn").count().show()

+-----+-----+
|churn|count|
+-----+-----+
|    0|  750|
|    1|  150|
+-----+-----+

In [420]:
sdf.groupby("churn").agg({"total_purchase" : "mean",
                         "churn" : "count", 
                         "age" : "mean"}).show()

+-----+-------------------+------------+-----------------+
|churn|avg(total_purchase)|count(churn)|         avg(age)|
+-----+-------------------+------------+-----------------+
|    0| 10036.952853333332|         750|41.58133333333333|
|    1| 10192.179933333337|         150|42.99333333333333|
+-----+-------------------+------------+-----------------+

 - 0 sınıfının sayısı fazla olmasına ragmen harcama ortalamaları 1.sınıftan daha azdır

In [421]:
korelasyon = sdf.drop("index" , "names").toPandas()

In [422]:
korelasyon

      age total_purchase account_manager years num_sites churn
0    42.0        11066.8               0  7.22       8.0     1
1    41.0       11916.22               0   6.5      11.0     1
2    38.0       12884.75               0  6.67      12.0     1
3    42.0        8010.76               0  6.71      10.0     1
4    37.0        9191.58               0  5.56       9.0     1
..    ...            ...             ...   ...       ...   ...
895  42.0       12800.82               1  3.62       8.0     0
896  52.0        9893.92               0  6.91       7.0     0
897  45.0       12056.18               0  5.46       4.0     0
898  51.0        6517.93               1  5.47      10.0     0
899  39.0         9315.6               1  5.02      10.0     0

[900 rows x 6 columns]

In [423]:
import seaborn as sns 
#sns.pairplot(korelasyon);

In [424]:
sdf.dtypes

[('index', 'string'),
 ('names', 'string'),
 ('age', 'string'),
 ('total_purchase', 'string'),
 ('account_manager', 'string'),
 ('years', 'string'),
 ('num_sites', 'string'),
 ('churn', 'string')]

# Veri Önişleme

- Büyük verileri makina öğrenmesinde işlemeden önce string değişkenlerin kategorik hale , bağımsız değişkenlerin belirli  bir formata alınması gerekiyor bu bölümde bu işlemleri yapacağız 

- Standart olarak bağımlı değişken "Label" ,
- Bağımsız değişkenler "features" olarak adlandırılır

## Bağımlı değişken düzenleme

In [425]:
from pyspark.ml.feature import StringIndexer

stringIndexer = StringIndexer( inputCol = "churn" , outputCol = "label")
# int olarak değiştirilecek değişken Churn , çıkış değişkeni label olacak şekilde 
# bir nesne oluşturuyoruz

In [426]:
?stringIndexer

Type:           StringIndexer
String form:    StringIndexer_f966ff62ca78
File:           c:\spark\spark-2.4.5-bin-hadoop2.7\python\pyspark\ml\feature.py
Docstring:
A label indexer that maps a string column of labels to an ML column of label indices.
If the input column is numeric, we cast it to string and index the string values.
The indices are in [0, numLabels). By default, this is ordered by label frequencies
so the most frequent label gets index 0. The ordering behavior is controlled by
setting :py:attr:`stringOrderType`. Its default value is 'frequencyDesc'.

>>> stringIndexer = StringIndexer(inputCol="label", outputCol="indexed", handleInvalid="error",
...     stringOrderType="frequencyDesc")
>>> model = stringIndexer.fit(stringIndDf)
>>> td = model.transform(stringIndDf)
>>> sorted(set([(i[0], i[1]) for i in td.select(td.id, td.indexed).collect()]),
...     key=lambda x: x[0])
[(0, 0.0), (1, 2.0), (2, 1.0), (3, 0.0), (4, 0.0), (5, 1.0)]
>>> inverter = IndexToString(inputCol="indexed", outputCol="label2", labels=model.labels)
>>> itd = inverter.transform(td)
>>> sorted(set([(i[0], str(i[1])) for i in itd.select(itd.id, itd.label2).collect()]),
...     key=lambda x: x[0])
[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'a'), (4, 'a'), (5, 'c')]
>>> stringIndexerPath = temp_path + "/string-indexer"
>>> stringIndexer.save(stringIndexerPath)
>>> loadedIndexer = StringIndexer.load(stringIndexerPath)
>>> loadedIndexer.getHandleInvalid() == stringIndexer.getHandleInvalid()
True
>>> modelPath = temp_path + "/string-indexer-model"
>>> model.save(modelPath)
>>> loadedModel = StringIndexerModel.load(modelPath)
>>> loadedModel.labels == model.labels
True
>>> indexToStringPath = temp_path + "/index-to-string"
>>> inverter.save(indexToStringPath)
>>> loadedInverter = IndexToString.load(indexToStringPath)
>>> loadedInverter.getLabels() == inverter.getLabels()
True
>>> stringIndexer.getStringOrderType()
'frequencyDesc'
>>> stringIndexer = StringIndexer(inputCol="label", outputCol="indexed", handleInvalid="error",
...     stringOrderType="alphabetDesc")
>>> model = stringIndexer.fit(stringIndDf)
>>> td = model.transform(stringIndDf)
>>> sorted(set([(i[0], i[1]) for i in td.select(td.id, td.indexed).collect()]),
...     key=lambda x: x[0])
[(0, 2.0), (1, 1.0), (2, 0.0), (3, 2.0), (4, 2.0), (5, 0.0)]
>>> fromlabelsModel = StringIndexerModel.from_labels(["a", "b", "c"],
...     inputCol="label", outputCol="indexed", handleInvalid="error")
>>> result = fromlabelsModel.transform(stringIndDf)
>>> sorted(set([(i[0], i[1]) for i in result.select(result.id, result.indexed).collect()]),
...     key=lambda x: x[0])
[(0, 0.0), (1, 1.0), (2, 2.0), (3, 0.0), (4, 0.0), (5, 2.0)]

.. versionadded:: 1.4.0
Init docstring: __init__(self, inputCol=None, outputCol=None, handleInvalid="error",                  stringOrderType="frequencyDesc")

In [427]:
indexed = stringIndexer.fit(sdf).transform(sdf)

In [428]:
indexed.dtypes

[('index', 'string'),
 ('names', 'string'),
 ('age', 'string'),
 ('total_purchase', 'string'),
 ('account_manager', 'string'),
 ('years', 'string'),
 ('num_sites', 'string'),
 ('churn', 'string'),
 ('label', 'double')]

In [429]:
sdf = indexed.withColumn("label", indexed["label"].cast("integer"))

# indexed içindeki label değişkenini integer tipine dönüştür

In [430]:
# tüm değişkenler stringmiş ugraştırdı ama çalışacak :)

In [444]:
indexed = indexed.withColumn("age", indexed["age"].cast("float"))

In [445]:
indexed = indexed.withColumn("total_purchase", indexed["total_purchase"].cast("integer"))

In [446]:
indexed = indexed.withColumn("account_manager", indexed["account_manager"].cast("integer"))

In [447]:
indexed = indexed.withColumn("years", indexed["years"].cast("integer"))

In [452]:
indexed = indexed.withColumn("num_sites", indexed["num_sites"].cast("integer"))

In [ ]:
indexed = indexed.withColumn("churn", indexed["churn"].cast("integer"))

In [453]:
sdf = indexed.withColumn("index", indexed["index"].cast("integer"))

In [454]:
indexed.dtypes

[('index', 'string'),
 ('names', 'string'),
 ('age', 'float'),
 ('total_purchase', 'int'),
 ('account_manager', 'int'),
 ('years', 'int'),
 ('num_sites', 'int'),
 ('churn', 'int'),
 ('label', 'double')]

In [455]:
sdf.dtypes

[('index', 'int'),
 ('names', 'string'),
 ('age', 'float'),
 ('total_purchase', 'int'),
 ('account_manager', 'int'),
 ('years', 'int'),
 ('num_sites', 'int'),
 ('churn', 'int'),
 ('label', 'double')]

## Bagımsız Değişkenleri düzenleme

In [456]:
from pyspark.ml.feature import VectorAssembler

In [457]:
sdf.columns

['index',
 'names',
 'age',
 'total_purchase',
 'account_manager',
 'years',
 'num_sites',
 'churn',
 'label']

In [458]:
sdf.dtypes

[('index', 'int'),
 ('names', 'string'),
 ('age', 'float'),
 ('total_purchase', 'int'),
 ('account_manager', 'int'),
 ('years', 'int'),
 ('num_sites', 'int'),
 ('churn', 'int'),
 ('label', 'double')]

In [459]:
bag = ["age","total_purchase","account_manager","years","num_sites"]

In [460]:
vectorAssembler = VectorAssembler(inputCols = bag , outputCol = "features")

In [462]:
va_df = vectorAssembler.transform(sdf)
# başarılı :)

In [463]:
final_df = va_df.select( ["features" , "label"] )

In [464]:
final_df.show()

+--------------------+-----+
|            features|label|
+--------------------+-----+
|[42.0,11066.0,0.0...|  1.0|
|[41.0,11916.0,0.0...|  1.0|
|[38.0,12884.0,0.0...|  1.0|
|[42.0,8010.0,0.0,...|  1.0|
|[37.0,9191.0,0.0,...|  1.0|
|[48.0,10356.0,0.0...|  1.0|
|[44.0,11331.0,1.0...|  1.0|
|[32.0,9885.0,1.0,...|  1.0|
|[43.0,14062.0,1.0...|  1.0|
|[40.0,8066.0,1.0,...|  1.0|
|[30.0,11575.0,1.0...|  1.0|
|[45.0,8771.0,1.0,...|  1.0|
|[45.0,8988.0,1.0,...|  1.0|
|[40.0,8283.0,1.0,...|  1.0|
|[41.0,6569.0,1.0,...|  1.0|
|[38.0,10494.0,1.0...|  1.0|
|[45.0,8213.0,1.0,...|  1.0|
|[43.0,11226.0,0.0...|  1.0|
|[53.0,5515.0,0.0,...|  1.0|
|[46.0,8046.0,1.0,...|  1.0|
+--------------------+-----+
only showing top 20 rows

# Train - Test seti hazırlama

In [467]:
splits = final_df.randomSplit( [0.7 ,0.3] )

In [468]:
train_df = splits[0]
test_df = splits[1]

In [471]:
train_df.show()

+--------------------+-----+
|            features|label|
+--------------------+-----+
|[22.0,11254.0,1.0...|  0.0|
|[25.0,9672.0,0.0,...|  0.0|
|[26.0,8939.0,0.0,...|  0.0|
|[28.0,8670.0,0.0,...|  0.0|
|[28.0,11128.0,1.0...|  0.0|
|[28.0,11204.0,0.0...|  0.0|
|[28.0,11245.0,0.0...|  0.0|
|[29.0,5900.0,1.0,...|  0.0|
|[29.0,8688.0,1.0,...|  1.0|
|[29.0,9378.0,0.0,...|  0.0|
|[29.0,9617.0,0.0,...|  0.0|
|[29.0,12711.0,0.0...|  0.0|
|[29.0,13255.0,1.0...|  0.0|
|[30.0,6744.0,0.0,...|  0.0|
|[30.0,7960.0,1.0,...|  1.0|
|[30.0,8677.0,1.0,...|  0.0|
|[30.0,8874.0,0.0,...|  0.0|
|[30.0,10744.0,1.0...|  1.0|
|[30.0,10960.0,1.0...|  0.0|
|[30.0,12788.0,0.0...|  0.0|
+--------------------+-----+
only showing top 20 rows

# GBM ile müşteri Terk Modellemesi

In [472]:
from pyspark.ml.classification import GBTClassifier

In [476]:
gbm = GBTClassifier( maxIter = 10 ,featuresCol = "features" , labelCol = "label" )
# yukarıda o kadar veri önişleme taklası atmamızın sebebi

In [477]:
gbm_model = gbm.fit( train_df )

In [484]:
y_pred = gbm_model.transform(test_df)
# burda predict işlemini transform ile yapıyoruz

In [480]:
y_pred.show()

+--------------------+-----+--------------------+--------------------+----------+
|            features|label|       rawPrediction|         probability|prediction|
+--------------------+-----+--------------------+--------------------+----------+
|[26.0,8787.0,1.0,...|  1.0|[-0.5330466322074...|[0.25614674693480...|       1.0|
|[27.0,8628.0,1.0,...|  0.0|[1.26315681112054...|[0.92596603787386...|       0.0|
|[28.0,9090.0,1.0,...|  0.0|[-0.3927883709486...|[0.31311921689451...|       1.0|
|[29.0,10203.0,1.0...|  0.0|[1.26315681112054...|[0.92596603787386...|       0.0|
|[29.0,11274.0,1.0...|  0.0|[1.13725525023628...|[0.90674389336961...|       0.0|
|[29.0,13240.0,1.0...|  0.0|[1.28440193896777...|[0.92882666359336...|       0.0|
|[30.0,8403.0,1.0,...|  0.0|[1.28029672125000...|[0.92828197594590...|       0.0|
|[30.0,10183.0,1.0...|  0.0|[0.86777750311810...|[0.85012158812772...|       0.0|
|[30.0,11575.0,1.0...|  1.0|[1.26315681112054...|[0.92596603787386...|       0.0|
|[31.0,5304.0,0.0,...|  0.0|[1.1269009257332,...|[0.90497797086492...|       0.0|
|[31.0,7073.0,0.0,...|  0.0|[1.1269009257332,...|[0.90497797086492...|       0.0|
|[31.0,8829.0,1.0,...|  0.0|[1.32868916970750...|[0.93446429680483...|       0.0|
|[31.0,10182.0,1.0...|  0.0|[1.32868916970750...|[0.93446429680483...|       0.0|
|[32.0,9472.0,1.0,...|  0.0|[0.36677336357254...|[0.67558309438656...|       0.0|
|[32.0,11540.0,0.0...|  0.0|[1.33181772252066...|[0.93484644668435...|       0.0|
|[32.0,12142.0,0.0...|  0.0|[1.26315681112054...|[0.92596603787386...|       0.0|
|[32.0,12479.0,0.0...|  0.0|[1.33181772252066...|[0.93484644668435...|       0.0|
|[32.0,12547.0,0.0...|  0.0|[0.33073799503975...|[0.65959187116805...|       0.0|
|[32.0,13630.0,0.0...|  0.0|[1.24191952300777...|[0.92300108264360...|       0.0|
|[33.0,4711.0,0.0,...|  0.0|[1.32174792430585...|[0.93360897723417...|       0.0|
+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

In [481]:
ac = y_pred.select("label" ,"prediction")
# y_pred'iin içinden gerçek gercek ve tahmin değerlerini aldık

In [483]:
ac.filter( ac.label == ac.prediction ).count() / ac.count()


# ac içerisinden tahmini gerçek değere eşit değerleri getiriyoruz bunların sayısını toplam sayıya bölüyoruz 
#ve böylece accurucy skoruna ulaşıyoruz :)

0.8473282442748091

# Model tuning

In [497]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

evaluator = BinaryClassificationEvaluator() # değerledirici

paramGrid = (ParamGridBuilder()
             .addGrid(gbm.maxDepth, [2, 4, 6])
             .addGrid(gbm.maxBins, [20, 30])
             .addGrid(gbm.maxIter, [10, 20])
             .build())

cv = CrossValidator(estimator= gbm, estimatorParamMaps = paramGrid, evaluator=evaluator, numFolds= 10)

In [498]:
cv_model = cv.fit(train_df)

In [499]:
y_pred = cv_model.transform(test_df)
ac = y_pred.select("label" ,"prediction")

In [500]:
ac.filter( ac.label == ac.prediction ).count / ac.count()

TypeError: unsupported operand type(s) for /: 'method' and 'int'

In [ ]:
evilator.evaluate(y_pred)

# Müşteriler bizi Terkeder Mİ ?

In [485]:
import pandas as pd
names = pd.Series(["Ali Ahmetoğlu", "Berkcan Tanerbey", "Harika Gündüz","Polat Alemdar", "Ata Bakmayan Ali"])
age = pd.Series([38, 43, 34, 50, 40])
total_purchase = pd.Series([30000, 10000, 6000, 30000, 100000])
account_manager = pd.Series([1,0,0,1,1])
years = pd.Series([20, 10, 3, 8, 30])
num_sites = pd.Series([30,8,8,6,50])


yeni_musteriler = pd.DataFrame({
    'names':names,
    'age': age,
    'total_purchase': total_purchase,
    'account_manager': account_manager ,
    'years': years,
    'num_sites': num_sites})

yeni_musteriler.columns

Index(['names', 'age', 'total_purchase', 'account_manager', 'years',
       'num_sites'],
      dtype='object')

In [486]:
yeni_musteriler

              names  age  total_purchase  account_manager  years  num_sites
0     Ali Ahmetoğlu   38           30000                1     20         30
1  Berkcan Tanerbey   43           10000                0     10          8
2     Harika Gündüz   34            6000                0      3          8
3     Polat Alemdar   50           30000                1      8          6
4  Ata Bakmayan Ali   40          100000                1     30         50

In [487]:
yeni_sdf = spark.createDataFrame(yeni_musteriler)

In [488]:
type(yeni_sdf)

pyspark.sql.dataframe.DataFrame

In [489]:
yeni_musteriler = vectorAssembler.transform(yeni_sdf)

In [ ]:
sonuclar = cv_model.transform(yeni_musteriler) 
# label ve vector formuna cevirdik

In [ ]:
sonuclar.select( "names" ,"prediction" ).show()