In [1]:
import pandas as pd


df = pd.DataFrame({"degisken1" : [3 ,2 ,5 ,2 ,6, 7], 
                  "degisken2" : [5 ,24 ,2 ,65, 45 ,5],
                  "gruplar" : ["index1" ,"index2" ,"index3" ,"index1" ,"index2" ,"index3"]})

In [2]:
df

   degisken1  degisken2 gruplar
0          3          5  index1
1          2         24  index2
2          5          2  index3
3          2         65  index1
4          6         45  index2
5          7          5  index3

In [3]:
df[: , 0:2]

TypeError: '(slice(None, None, None), slice(0, 2, None))' is an invalid key

In [6]:
df_a = df.iloc[: , 0: 2]

In [7]:
df_a.transform(lambda x : (x-x.mean() / x.std()))

   degisken1  degisken2
0   1.050204   4.056725
1   0.050204  23.056725
2   3.050204   1.056725
3   0.050204  64.056725
4   4.050204  44.056725
5   5.050204   4.056725