In [1]:
import seaborn as sns
import pandas as pd 

planets = sns.load_dataset("planets")
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [3]:
# Verinin hikayesi nedir ?

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
method            1035 non-null object
number            1035 non-null int64
orbital_period    992 non-null float64
mass              513 non-null float64
distance          808 non-null float64
year              1035 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [8]:
df.columns

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')

In [9]:
df.index

RangeIndex(start=0, stop=1035, step=1)

In [10]:
df.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

In [11]:
df.method = pd.Categorical(df.method)
# object tipini kategori yapÄ±yoruz

In [12]:
df.dtypes

method            category
number               int64
orbital_period     float64
mass               float64
distance           float64
year                 int64
dtype: object

In [13]:
df.shape

(1035, 6)

In [14]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

 Eksik deÄerlerin incelenmesi

In [16]:
df

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

True

In [19]:
df.isnull()

      method  number  orbital_period   mass  distance   year
0      False   False           False  False     False  False
1      False   False           False  False     False  False
2      False   False           False  False     False  False
3      False   False           False  False     False  False
4      False   False           False  False     False  False
...      ...     ...             ...    ...       ...    ...
1030   False   False           False   True     False  False
1031   False   False           False   True     False  False
1032   False   False           False   True     False  False
1033   False   False           False   True     False  False
1034   False   False           False   True     False  False

[1035 rows x 6 columns]

In [20]:
df.isnull().values

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       ...,
       [False, False, False,  True, False, False],
       [False, False, False,  True, False, False],
       [False, False, False,  True, False, False]])

In [21]:
df.isnull().values.any()
# df iÃ§indeki deÄerlerde en az 1 tane boÅ deÄer var mÄ±

True

In [24]:
df.isnull().sum()
#hangi deÄiÅkende kaÃ§ tane na deÄer olduÄunu getirir

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [25]:
df["orbital_period"].fillna(df["orbital_period"].mean() ,inplace = True)
# orbitalin ortalamasÄ±nÄ± , orbitaldeki boÅ deÄerlere atayÄ±p bu iÅlemi kaydettik

In [27]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [30]:
df.mass.fillna(0 ,inplace = True)

In [31]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64