In [2]:
import numpy as np
import pandas as pd 
v1= np.array([1 ,3 ,6 ,np.NaN , 7 ,1 ,np.NaN ,9 , 15])

v4 = np.array(["IT" ,np.NaN ,"IK" ,"IK" ,"IK" ,"IT" ,"IK" ,"IT" ,"IK"])
df = pd.DataFrame(
    {
        "v1" : v1,
        
        "departman" : v4 
    }

)

In [3]:
df

     v1 departman
0   1.0        IT
1   3.0       nan
2   6.0        IK
3   NaN        IK
4   7.0        IK
5   1.0        IT
6   NaN        IK
7   9.0        IT
8  15.0        IK

In [4]:
df["departman"].mode() # [0] yazarsak string halini alır

0    IK
dtype: object

In [5]:
df["departman"].fillna(df["departman"].mode()[0]) #en çok olan

0     IT
1    nan
2     IK
3     IK
4     IK
5     IT
6     IK
7     IT
8     IK
Name: departman, dtype: object

In [6]:
df["departman"].mode()[0]

'IK'

In [7]:
df["departman"].fillna(method = "bfill") # kendisinden sonra gelen değer ile doldurur

0     IT
1    nan
2     IK
3     IK
4     IK
5     IT
6     IK
7     IT
8     IK
Name: departman, dtype: object

In [8]:
df["departman"].fillna(method = "ffill") # kendisinden önceki değerin aynısını yapar

0     IT
1    nan
2     IK
3     IK
4     IK
5     IT
6     IK
7     IT
8     IK
Name: departman, dtype: object