# Veri setini Dahil etme

### Veri setinin hikayesi :
    Veri seti Amerikan liginde oynuyan baksetbolcuların yeteneksel performanslarını ,kariyer başarılarını ve maaşlarını kapsamaktadır

In [1]:
import pandas as pd 
hit = pd.read_csv("Hitters.csv")
hit = hit.copy()
hit.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

In [2]:
hit.info()
# veri seti 3 tane kategorik değişkenden oluşmakta biz bunları dummy etmemiz lazım 
# veri setinde float değer olduğu için veri serini dummy işleminden sonra datatype = float64 olarak ayarlanmalıdır

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 20 columns):
AtBat        322 non-null int64
Hits         322 non-null int64
HmRun        322 non-null int64
Runs         322 non-null int64
RBI          322 non-null int64
Walks        322 non-null int64
Years        322 non-null int64
CAtBat       322 non-null int64
CHits        322 non-null int64
CHmRun       322 non-null int64
CRuns        322 non-null int64
CRBI         322 non-null int64
CWalks       322 non-null int64
League       322 non-null object
Division     322 non-null object
PutOuts      322 non-null int64
Assists      322 non-null int64
Errors       322 non-null int64
Salary       263 non-null float64
NewLeague    322 non-null object
dtypes: float64(1), int64(16), object(3)
memory usage: 50.4+ KB

In [3]:
hit.shape

(322, 20)

In [4]:
hit.isnull().values.any()
# veri setinde boş gözlem var

True

In [5]:
hit.isnull().values.sum()
# 59 tane boşluk var

59

In [6]:
hit.isnull().sum()
# evet veri setinde basketbolcularımızın maaşları eksik olan kişiler var

AtBat         0
Hits          0
HmRun         0
Runs          0
RBI           0
Walks         0
Years         0
CAtBat        0
CHits         0
CHmRun        0
CRuns         0
CRBI          0
CWalks        0
League        0
Division      0
PutOuts       0
Assists       0
Errors        0
Salary       59
NewLeague     0
dtype: int64

### Veri setinin Makina öğrenmesine uygun hale getirilmesi

In [7]:
dms = pd.get_dummies(hit[["League" , "Division" ,"NewLeague"]])
dms

# evet dummy değişken tuzagına düşüldü bu durumdan kurtulmamız lazım 
# ame ben bununla ugraşmak yerine label encoder 'i kullanacağım

     League_A  League_N  Division_E  Division_W  NewLeague_A  NewLeague_N
0           1         0           1           0            1            0
1           0         1           0           1            0            1
2           1         0           0           1            1            0
3           0         1           1           0            0            1
4           0         1           1           0            0            1
..        ...       ...         ...         ...          ...          ...
317         0         1           1           0            0            1
318         1         0           1           0            1            0
319         1         0           0           1            1            0
320         1         0           1           0            1            0
321         1         0           0           1            1            0

[322 rows x 6 columns]

In [8]:
from sklearn.preprocessing import LabelEncoder
lbe = LabelEncoder()

transform_list = ["League" ,"Division" , "NewLeague"]

for i in transform_list:
    hit[i] = lbe.fit_transform(hit[i])

In [9]:
hit[:2]

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,0,0,446,33,20,NaN,0
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,1,1,632,43,10,475.0,1

In [10]:
hit.astype("float64")
#evet tüm değerleri float64 yaparak optimize şekilde çalışmasını sağlıyacağız

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293.0,66.0,1.0,30.0,29.0,14.0,1.0,293.0,66.0,1.0,30.0,29.0,14.0,0.0,0.0,446.0,33.0,20.0,NaN,0.0
1,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,1.0,1.0,632.0,43.0,10.0,475.0,1.0
2,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,0.0,1.0,880.0,82.0,14.0,480.0,0.0
3,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,1.0,0.0,200.0,11.0,3.0,500.0,1.0
4,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,1.0,0.0,805.0,40.0,4.0,91.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,497.0,127.0,7.0,65.0,48.0,37.0,5.0,2703.0,806.0,32.0,379.0,311.0,138.0,1.0,0.0,325.0,9.0,3.0,700.0,1.0
318,492.0,136.0,5.0,76.0,50.0,94.0,12.0,5511.0,1511.0,39.0,897.0,451.0,875.0,0.0,0.0,313.0,381.0,20.0,875.0,0.0
319,475.0,126.0,3.0,61.0,43.0,52.0,6.0,1700.0,433.0,7.0,217.0,93.0,146.0,0.0,1.0,37.0,113.0,7.0,385.0,0.0
320,573.0,144.0,9.0,85.0,60.0,78.0,8.0,3198.0,857.0,97.0,470.0,420.0,332.0,0.0,0.0,1314.0,131.0,12.0,960.0,0.0
321,631.0,170.0,9.0,77.0,44.0,31.0,11.0,4908.0,1457.0,30.0,775.0,357.0,249.0,0.0,1.0,408.0,4.0,3.0,1000.0,0.0

## Bagmımlı ve Bağımsız değişken Ayırma

In [11]:
X = hit.drop("Salary" ,axis = 1)

In [12]:
y = hit["Salary"]

# Test _ Train Veri seti ayırma

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train , X_test , y_train ,y_test = train_test_split(X ,y,test_size = 0.20)

In [15]:
X_train.head(1)

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,NewLeague
318,492,136,5,76,50,94,12,5511,1511,39,897,451,875,0,0,313,381,20,0

In [16]:
y_train.head(1)

318    875.0
Name: Salary, dtype: float64

In [17]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(257, 19)
(257,)
(65, 19)
(65,)

In [18]:
y_train.fillna(y_train.mean(),inplace = True )
#linear Reg fit ederken hata verdiği için yapıyorum

In [19]:
y_test.fillna(y_test.mean() , inplace = True)

# Veri seti Modelleme

## PCR Temel Birleşen Regression:
    - Değiskenler arasındaki kovaryansları birbirine yakın olan bagımsız değişkenleri veri setinden cıkarır , bu sayade optimum bagımsız değişken ile bagımlı değişkeni temsil eder 
    
    - Veri kaybı göze alınır 
    
    - Coklu Doğrusal Baglantı Problemleri Ortadan kalkar

In [20]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
pca = PCA()
# burda PCA içerisine kaç değişkenden oluşacagı parametresini girebiliriz ancak
# tüm değerlerini etki yüzdesini almak için şuanlık girmiyeceğiz

In [21]:
scale(X_train)

array([[ 0.76976424,  0.76608889, -0.63675432, ...,  2.05493512,
         1.91504733, -0.89992175],
       [ 1.43364317,  1.46328815, -0.75095241, ...,  2.35058441,
         2.70555032, -0.89992175],
       [ 1.42713455,  1.10412489,  1.41881127, ..., -0.68721204,
        -0.29836105, -0.89992175],
       ...,
       [-1.44967412, -1.24099988, -0.75095241, ..., -0.34721536,
        -0.93076345, -0.89992175],
       [-0.46036435, -0.33252812, -0.75095241, ..., -0.7241682 ,
        -0.77266285,  1.11120773],
       [ 0.71769531,  0.57594364,  1.076217  , ..., -0.16982578,
        -0.14026045,  1.11120773]])

In [22]:
X_reduced_train = pca.fit_transform(scale(X_train))
# burada ilk önce X_train data setimizi scale ile ölceklendirdik ardından fit ettik 
# transform fonksiyonunun kullanarak boyu indirgeme işlemi yaptık

In [23]:
X_reduced_train[:1 ,:]
# birinci gözlemin tüm değişkenlerce etkisi

array([[ 3.52961705, -0.66865074,  0.77812111,  3.07630465, -1.35382996,
         0.64155111,  1.91563858,  1.318748  , -0.57583887, -0.89758428,
         0.39481502,  0.18333224,  0.21319712,  0.21725152, -0.0052381 ,
         0.04930282, -0.16039677, -0.05639877, -0.05375795]])

In [24]:
np.cumsum(pca.explained_variance_ratio_)*100
# burda dönen olay şöyledir her sutunun değerlerinin varyansını birbirine ekleyerek toplar

NameError: name 'np' is not defined

In [ ]:
pca.explained_variance_ratio_ # bakın burda bir öncekilerle toplaya toplaya gidince usteki değer cıkıyor

In [ ]:
import numpy as np

# bu değişkenlerce kumulatif olarak açıklanan varyansı inceleyelim 

np.cumsum(np.round(pca.explained_variance_ratio_ , decimals = 4) * 100)[:10]
# np.cumsum = kumulatıf toplama
# np.round = diziyi belirtilen ondalıklı sayıya yuvarlar ,decimals = 4 ondalık parametresi
# pca.exp.... = acıklanan varyans oranı

- Yukarıda Veri sertini kaç değisken ile yüzde kaç açıklandığı verilmiştir 
- 1 ile 39 , 2 ile 61 ,3 ile 72 gibi

### PCR Modelini LinearRegressionda kullanma

In [ ]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm = lm.fit(X_reduced_train , y_train)
lm

In [ ]:
lm.intercept_

In [ ]:
lm.coef_

-Yukarıda ilk olarak PCA işleminde bir boyut indirgeme uyguladık ve
indirdiğimiz boyutlar ile linear Regression modeli kurduk

# Tahmin

In [ ]:
y_pred = lm.predict(X_reduced_train)
y_pred[:5]

### hata hesaplama:

In [ ]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_train , y_pred))
#hata kareler ortalamasını bulalaım

In [ ]:
hit.Salary.mean()

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_train , y_pred)
#r kare yani ,veri setini açıklıyabilme oranı

#### test setinden tahminde bulumak için ilk önce test setini 
#### PCR işlemine tabi etmemiz gerekir

In [ ]:
pca2 = PCA()

X_reduced_test = pca2.fit_transform(scale(X_test))

In [ ]:
y_pred2 = lm.predict( X_reduced_test )

In [ ]:
np.sqrt(mean_squared_error(y_test , y_pred2))

In [ ]:
r2_score(y_test , y_pred2)

# Model Tuning

In [ ]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

pca = PCA()
X_reduced_train = pca.fit_transform(scale(X_train))
X_reduced_test = pca.fit_transform(scale(X_test))
# test  setinide PCA işlemine sokmamız gerekiyor sebebi rmse değeri alınırken hata vermemesi için


from sklearn.linear_model import LinearRegression

lm = LinearRegression()
lm = lm.fit(X_reduced_train , y_train)

from sklearn.metrics import mean_squared_error

import numpy as np 
y_pred = lm.predict(X_reduced_test)
print("lm tahmin edilen değerler ortalaması :  " , str( y_pred.mean()  ) )
print("lm hata kareler ortalamasının karekoku  : " , str (np.sqrt(mean_squared_error(y_test , y_pred) ) ))

## Cross_val yapma

In [ ]:
from sklearn import model_selection 
cv_10 = model_selection.KFold( n_splits = 10,
                               shuffle = True, # cros val oncesi kariştirma 
                               random_state = 1
                             )
lm = LinearRegression()

RMSE_s = list()
for i in np.arange(1 , X_reduced_train.shape[1] + 1): # X_reduced in değişken sayısına kadar git
    
    score = np.sqrt(-1 * model_selection.cross_val_score(lm,
                                                         X_reduced_train[: , :i],
                                                         y_train.ravel(),
                                                        cv = cv_10,
                                                        scoring = "neg_mean_squared_error"
                                                        ).mean())
    RMSE_s.append(score)

In [ ]:
import matplotlib.pyplot as plt
plt.plot(RMSE_s , "-v");
plt.xlabel("Birleşen sayısı")
plt.ylabel("RMSE")
plt.title("Maas Tahmin Modeli için PCR Model Tuning")

- grafiğe göre optimmum 5 değişken ile en iyi temsilimizi yaparız

## Şimdi 5 değeişkenli modelimizi kuralım

In [ ]:
lm = LinearRegression()

lm = lm.fit(X_reduced_train[: , : 5] , y_train)
# fit etme işlemini ilk 5 gözlem ile yapalım 

y_pred = lm.predict(X_reduced_test[: , : 5])
# tahmin etme işlemini ilk 5 gözlem ile yapalım 

print(np.sqrt(mean_squared_error(y_test , y_pred )))

### özet ;
 
    1 . Modeli ölceklendirerek fit_transform işlemine tabi tut 
    
    2 . (opsiyonel .. açıklanabilirlik öğrenmek için ) Modelin açıklanabilirlik varyans oranlarını al ve bunları birbirlerine ekliye ekliye yeni yüzdeler cıkar
    
    3 . Bu modelde ölçeklendirmiş olduğun değerleri farklı bir regressionda fit et
    
    4 . Bu fit ettiğin değer üzerinden tahmin yapabilmek için tahmin değerini "1." işlemde yapılan işlemleri aynen uygula 
    
    5 . modeli test edebilirsin 
    
    6 . model tuning işlemi , Burada optimum değeri bulmak için bir for döngüsü açıp cros_val işlemi uyguluyoruz ve optimum değer ile modelimizi kurup test setimizle deniyoruz .