In [1]:
import pandas as pd


df = pd.DataFrame({"degisken1" : [3 ,2 ,5 ,2 ,6, 7], 
                  "degisken2" : [5 ,24 ,2 ,65, 45 ,5],
                  "gruplar" : ["index1" ,"index2" ,"index3" ,"index1" ,"index2" ,"index3"]})

In [2]:
df

   degisken1  degisken2 gruplar
0          3          5  index1
1          2         24  index2
2          5          2  index3
3          2         65  index1
4          6         45  index2
5          7          5  index3

In [9]:
def filter_func(x):
    return x["degisken1"].sum() > 10

In [12]:
df.groupby("gruplar").sum()

         degisken1  degisken2
gruplar
index1           5         70
index2           8         69
index3          12          7

In [11]:
df.groupby("gruplar").filter(filter_func)

   degisken1  degisken2 gruplar
2          5          2  index3
5          7          5  index3