In [1]:
import numpy as np 
import pandas as pd

In [2]:
arr = np.arange(15).reshape(5,3)

In [3]:
arr

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [8]:
df = pd.DataFrame(arr ,columns = ["Column1" ,"Column2" ,"Column3"] ,index =["index1" ,"index2" ,"index3" ,"index4","index5"])

In [9]:
df

        Column1  Column2  Column3
index1        0        1        2
index2        3        4        5
index3        6        7        8
index4        9       10       11
index5       12       13       14

In [10]:
df["Column1"]

index1     0
index2     3
index3     6
index4     9
index5    12
Name: Column1, dtype: int32

In [11]:
df.Column1

index1     0
index2     3
index3     6
index4     9
index5    12
Name: Column1, dtype: int32

In [12]:
df[df.Column1 > 3]

        Column1  Column2  Column3
index3        6        7        8
index4        9       10       11
index5       12       13       14

In [13]:
df[(df.Column1 > 5)  & (df.Column3 > 8)]

        Column1  Column2  Column3
index4        9       10       11
index5       12       13       14

In [14]:
df[(df.Column1 > 5) , ["Column2" ,"Column3"]]

TypeError: '(index1    False
index2    False
index3     True
index4     True
index5     True
Name: Column1, dtype: bool, ['Column2', 'Column3'])' is an invalid key

In [15]:
df.loc[(df.Column1 > 5) , ["Column1" ,"Column2"] ]

        Column1  Column2
index3        6        7
index4        9       10
index5       12       13

In [16]:
df[(df.Column1 > 5 ) ][["Column1" ,"Column2"]]

        Column1  Column2
index3        6        7
index4        9       10
index5       12       13