In [59]:
import numpy as np 
import pandas as pd

In [60]:


arr = np.arange(12).reshape(3,4)

sozluk  = {"Column1" : arr[0],
          "Column2" : arr[1],
          "Column3" : arr[2],}

In [61]:
sozluk

{'Column1': array([0, 1, 2, 3]),
 'Column2': array([4, 5, 6, 7]),
 'Column3': array([ 8,  9, 10, 11])}

In [62]:
df = pd.DataFrame(sozluk ,index= ["index1" ,"index2" ,"index3" ,"index4"] )

In [63]:
df

        Column1  Column2  Column3
index1        0        4        8
index2        1        5        9
index3        2        6       10
index4        3        7       11

In [64]:
df.drop("index1" ,axis= 0)

        Column1  Column2  Column3
index2        1        5        9
index3        2        6       10
index4        3        7       11

In [65]:
df

        Column1  Column2  Column3
index1        0        4        8
index2        1        5        9
index3        2        6       10
index4        3        7       11

In [66]:
df.drop("index1" ,axis = 0 ,inplace= True) # inplace = True olursa silme işlemi uygulanır

In [67]:
df

        Column1  Column2  Column3
index2        1        5        9
index3        2        6       10
index4        3        7       11

In [68]:
df.drop("Column1" ,axis= 1)

        Column2  Column3
index2        5        9
index3        6       10
index4        7       11

In [69]:
df

        Column1  Column2  Column3
index2        1        5        9
index3        2        6       10
index4        3        7       11

In [70]:
df.drop("Column1" ,axis = 1 ,inplace= True)

In [71]:
df

        Column2  Column3
index2        5        9
index3        6       10
index4        7       11

In [73]:
df["Column2"]

index2    5
index3    6
index4    7
Name: Column2, dtype: int32

In [74]:
df["index2"]

KeyError: 'index2'