In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([1 ,2 ,3 ,4 ,5])

In [3]:
df

   0
0  1
1  2
2  3
3  4
4  5

In [4]:
df2 = pd.DataFrame([10 ,20 ,30 ,40] , columns = ["Col1"] ,index = ["a" ,"b" ,"c" ,"d"])

In [5]:
df2

   Col1
a    10
b    20
c    30
d    40

In [12]:
bir = pd.Series([1 ,2 ,3 ,4])
iki = pd.Series([6 ,7 ,8, 9])

sozluk = {
    "col1": bir ,
    "col2" : iki
}

df3 = pd.DataFrame(data = sozluk )
df4 = pd.DataFrame(data = sozluk , index = ["bir" ,"iki" ,"üç" ,"dört"])

In [13]:
df3

   col1  col2
0     1     6
1     2     7
2     3     8
3     4     9

In [15]:
df4 
#seri üzerindeki indexlerde oynarsan df bozulur

      col1  col2
bir    NaN   NaN
iki    NaN   NaN
üç     NaN   NaN
dört   NaN   NaN

In [17]:
df3.tail(2)
#sondan iki satırı getirir

   col1  col2
2     3     8
3     4     9

In [18]:
df3.head(2)
# bastan iki satırı getirir

   col1  col2
0     1     6
1     2     7

In [22]:
arr = np.arange(16).reshape(4,4)
df5 = pd.DataFrame(arr , columns = ["var1" ,"var2" ,"var3" ,"var4"] ,index = ["index1" ,"index2" ,"index3" ,"index4"])
df5

        var1  var2  var3  var4
index1     0     1     2     3
index2     4     5     6     7
index3     8     9    10    11
index4    12    13    14    15

In [26]:
sozluk2 = {
    "col1" :{
        "index1" : 1,
        "index2" : 2
    },
    "col2" :{
        "index1" : 3,
        "index2" : 4
    }
}

df6 = pd.DataFrame(sozluk2)
df6

        col1  col2
index1     1     3
index2     2     4