In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Hitters.csv")
df = df.copy()
df.head()
#veri setimizde index problemi yok

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

In [2]:
df.shape

(322, 20)

In [3]:
df.isnull().sum()
# salary değişkenlerimizde boş gözlemler bulunmaktadır 
# bunları ortalama ile dolduralım

AtBat         0
Hits          0
HmRun         0
Runs          0
RBI           0
Walks         0
Years         0
CAtBat        0
CHits         0
CHmRun        0
CRuns         0
CRBI          0
CWalks        0
League        0
Division      0
PutOuts       0
Assists       0
Errors        0
Salary       59
NewLeague     0
dtype: int64

In [4]:
df["Salary"].fillna(df.Salary.mean() , inplace = True)
# boş maaş değerlerini ortalama ile doldurduk aslında bunları ilerde tahmin ile dolduracağız

In [5]:
df.isnull().sum().any()
# datamızda boş değer var mı ?

False

In [6]:
df.info()
# veri setimizdeki kategorik değişkenleri düzenliyelim

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 20 columns):
AtBat        322 non-null int64
Hits         322 non-null int64
HmRun        322 non-null int64
Runs         322 non-null int64
RBI          322 non-null int64
Walks        322 non-null int64
Years        322 non-null int64
CAtBat       322 non-null int64
CHits        322 non-null int64
CHmRun       322 non-null int64
CRuns        322 non-null int64
CRBI         322 non-null int64
CWalks       322 non-null int64
League       322 non-null object
Division     322 non-null object
PutOuts      322 non-null int64
Assists      322 non-null int64
Errors       322 non-null int64
Salary       322 non-null float64
NewLeague    322 non-null object
dtypes: float64(1), int64(16), object(3)
memory usage: 50.4+ KB

# Kategorik değişkenleri modellemeye hazır hale getirme

In [7]:
from sklearn.preprocessing import LabelEncoder 
cat_list = ["NewLeague" , "Division" , "League"] 

lbe = LabelEncoder()
for i in cat_list:
    df[i] = lbe.fit_transform(df[i])

In [8]:
df.head(3)
# tip dönüşümlerini başarılı bir şekilde uyguladık

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,0,0,446,33,20,535.925882,0
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,1,1,632,43,10,475.000000,1
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,0,1,880,82,14,480.000000,0

# Bagimli ve bağımsız değişken ayrışımı

In [9]:
X = df.drop("Salary"  , axis = 1) # bagımsız degisken

In [10]:
y = df["Salary"] #bagimli değisken

# Veri setini Train_Test olarak ayırma

In [11]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.20)

In [12]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)
# doğru parcalamışız

(257, 19)
(257,)
(65, 19)
(65,)

# Model Kurma

In [16]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

In [17]:
gbm_model = GradientBoostingRegressor()

In [18]:
gbm_model.fit(X_train , y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

- criterion = algoritma kıriteri ,
- learning_rate = öğrenme oranı 
- subsample = alt ornekler 
- n_estimators = ağaç sayısı 
- max_depth = maksimum derinlik

In [21]:
y_pred = gbm_model.predict(X_test)

In [22]:
np.sqrt( mean_squared_error( y_test ,y_pred) )

299.6499057818202

# Model Tuning

In [24]:
from sklearn.ensemble import GradientBoostingRegressor

In [25]:
gbm = GradientBoostingRegressor()
gbm_params = {"max_depth" : [3, 5, 8, 50, 100],
             "n_estimators" : [100 ,200 ,500 ,1000],
             "learning_rate" : [0.01 ,0.001 ,0.2 ,0.5],
             "subsample" :[1 ,0.5 ,0.75]}

In [26]:
gbm_cv = GridSearchCV(gbm,
                     gbm_params,
                     cv =10,
                     n_jobs = -1,
                     verbose = 2).fit(X_train , y_train)

Fitting 10 folds for each of 240 candidates, totalling 2400 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 138 tasks      | elapsed:    6.6s
[Parallel(n_jobs=-1)]: Done 341 tasks      | elapsed:   16.5s
[Parallel(n_jobs=-1)]: Done 624 tasks      | elapsed:   43.5s
[Parallel(n_jobs=-1)]: Done 989 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 1434 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 1961 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 2400 out of 2400 | elapsed:  1.9min finished
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [27]:
gbm_cv.best_params_

{'learning_rate': 0.01, 'max_depth': 5, 'n_estimators': 100, 'subsample': 0.5}

In [29]:
y_pred = gbm_cv.predict(X_test)

In [30]:
np.sqrt( mean_squared_error(y_test , y_pred) )

336.0379067213476