# Metin Madenciliği ve Doğal Dil işlemeye Giriş

In [41]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [42]:
metin = metin.split("\n")

In [43]:
import pandas as pd 
metin = pd.Series(metin)
metin

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [44]:
pdf = pd.DataFrame(metin[1:] , columns=  ["hikayeler"])

In [45]:
pdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

## Büyük küçük harf düzenleme

In [46]:
d_pdf = pdf.copy()

In [47]:
pdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [48]:
pdf["hikayeler"] = pdf["hikayeler"].apply(lambda x : " ".join(i.lower() for i in x.split())  )

- pdf içerisinden hikayeler sutunun satırlarında gezin her bir satırını al kelimelerini split et ardınkan küçük harf yapıp boşluk ile birleştir .

In [49]:
pdf

                                hikayeler
1                a scandal in bohemia! 01
2                 the red-headed league,2
3                  a case, of identity 33
4            the boscombe valley mystery4
5                   the five orange pips1
6           the man with? the twisted lip
7     the adventure of the blue carbuncle
8      the adventure of the speckled band
9   the adventure of the engineer's thumb
10    the adventure of the noble bachelor
11     the adventure of the beryl coronet
12    the adventure of the copper beeches

## Noktalama işaretlerinin silinmesi

In [ ]:
^ = üst ifatdeleri sisler

In [61]:
pdf["hikayeler"]

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [63]:
pdf["hikayeler"] = pdf["hikayeler"].str.replace("[^\w\s]","")

In [64]:
pdf["hikayeler"]

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

##  Sayıların Silinmesi

In [65]:
pdf["hikayeler"] = pdf["hikayeler"].str.replace("[^\w\s]" , "")

In [66]:
pdf["hikayeler"]

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

## Kelime takılarının silinmesi (Stopwords)

In [67]:
!pip install nltk

Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.4.5)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.12.0)

In [68]:
import nltk

In [71]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Mustafa\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [72]:
from nltk.corpus import stopwords

In [74]:
sw = stopwords.words("english")
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [78]:
pdf["hikayeler"] = pdf["hikayeler"].apply(lambda x : " ".join(i for i in x.split() if i not in sw ))

In [79]:
pdf["hikayeler"]

1            scandal bohemia 01
2             redheaded league2
3              case identity 33
4      boscombe valley mystery4
5             five orange pips1
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

## Az geçen kelimelerin silinmesi

In [99]:
# Bu işlemi yapmadan önce dfmizi pandas serisine çevireceğiz

In [144]:
pd.Series(" ".join(pdf["hikayeler"]).split())

0       scandal
1       bohemia
2            01
3     redheaded
4       league2
5          case
6      identity
7            33
8      boscombe
9        valley
10     mystery4
11         five
12       orange
13        pips1
14          man
15      twisted
16          lip
17    adventure
18         blue
19    carbuncle
20    adventure
21     speckled
22         band
23    adventure
24    engineers
25        thumb
26    adventure
27        noble
28     bachelor
29    adventure
30        beryl
31      coronet
32    adventure
33       copper
34      beeches
dtype: object

In [143]:
sil = pd.Series(" ".join(pdf["hikayeler"]).split()).value_counts() # kelime sayma 
sil

adventure    6
boscombe     1
bachelor     1
scandal      1
33           1
valley       1
five         1
01           1
thumb        1
pips1        1
league2      1
carbuncle    1
beryl        1
speckled     1
coronet      1
beeches      1
blue         1
redheaded    1
case         1
bohemia      1
lip          1
mystery4     1
noble        1
orange       1
engineers    1
man          1
identity     1
twisted      1
band         1
copper       1
dtype: int64

In [161]:
sil_index = sil[-3:]
sil[-3:]

twisted    1
band       1
copper     1
dtype: int64

In [163]:
pdf["hikayeler"] = pdf["hikayeler"].apply(lambda x: " ".join(i for i in x.split() if i not in sil_index ))

In [151]:
pdf["hikayeler"].apply(lambda x : " ".join(i for i in x.split()) ).value_counts() #cumle sayma

man twisted lip              1
adventure speckled band      1
adventure beryl coronet      1
redheaded league2            1
adventure copper beeches     1
case identity 33             1
boscombe valley mystery4     1
adventure noble bachelor     1
five orange pips1            1
scandal bohemia 01           1
adventure blue carbuncle     1
adventure engineers thumb    1
Name: hikayeler, dtype: int64

## Kelimeleri liste halinde birleştirme

### Tokenization

In [179]:
!pip install textblob

Collecting textblob
  Downloading https://files.pythonhosted.org/packages/60/f0/1d9bfcc8ee6b83472ec571406bd0dd51c0e6330ff1a51b2d29861d389e85/textblob-0.15.3-py2.py3-none-any.whl (636kB)
Requirement already satisfied: nltk>=3.1 in c:\programdata\anaconda3\lib\site-packages (from textblob) (3.4.5)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.12.0)
Installing collected packages: textblob
Successfully installed textblob-0.15.3

In [180]:
import textblob

In [181]:
from textblob import TextBlob

In [184]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Mustafa\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [189]:
pdf["hikayeler"][7]

'adventure blue carbuncle'

In [190]:
TextBlob(pdf["hikayeler"][7]).words

WordList(['adventure', 'blue', 'carbuncle'])

In [203]:
pdf["hikayeler"].apply( lambda x :  TextBlob(x).words )

1            [scandal, bohemia, 01]
2              [redheaded, league2]
3              [case, identity, 33]
4      [boscombe, valley, mystery4]
5             [five, orange, pips1]
6                        [man, lip]
7      [adventure, blue, carbuncle]
8             [adventure, speckled]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12             [adventure, beeches]
Name: hikayeler, dtype: object

## Kelimeleri Köklerine inderme

### Stemming :

In [171]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
st

In [174]:
pdf["hikayeler"].apply(lambda x : " ".join(st.stem(i) for i in x.split()))

1          scandal bohemia 01
2             redhead league2
3               case ident 33
4     boscomb valley mystery4
5            five orang pips1
6                     man lip
7      adventur blue carbuncl
8             adventur speckl
9        adventur engin thumb
10     adventur nobl bachelor
11     adventur beryl coronet
12             adventur beech
Name: hikayeler, dtype: object

### Lemmatization

In [199]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Mustafa\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [200]:
pdf.hikayeler

1            scandal bohemia 01
2             redheaded league2
3              case identity 33
4      boscombe valley mystery4
5             five orange pips1
6                       man lip
7      adventure blue carbuncle
8            adventure speckled
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12            adventure beeches
Name: hikayeler, dtype: object

In [202]:
pdf.hikayeler.apply(lambda x : " ".join( Word(i).lemmatize() for  i in x.split() ))

1           scandal bohemia 01
2            redheaded league2
3             case identity 33
4     boscombe valley mystery4
5            five orange pips1
6                      man lip
7     adventure blue carbuncle
8           adventure speckled
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure beryl coronet
12             adventure beech
Name: hikayeler, dtype: object