In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Hitters.csv")
df = df.copy()
df.head()
#veri setimizde index problemi yok

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

In [2]:
df.shape

(322, 20)

In [3]:
df.isnull().sum()
# salary değişkenlerimizde boş gözlemler bulunmaktadır 
# bunları ortalama ile dolduralım

AtBat         0
Hits          0
HmRun         0
Runs          0
RBI           0
Walks         0
Years         0
CAtBat        0
CHits         0
CHmRun        0
CRuns         0
CRBI          0
CWalks        0
League        0
Division      0
PutOuts       0
Assists       0
Errors        0
Salary       59
NewLeague     0
dtype: int64

In [4]:
df["Salary"].fillna(df.Salary.mean() , inplace = True)
# boş maaş değerlerini ortalama ile doldurduk aslında bunları ilerde tahmin ile dolduracağız

In [5]:
df.isnull().sum().any()
# datamızda boş değer var mı ?

False

In [6]:
df.info()
# veri setimizdeki kategorik değişkenleri düzenliyelim

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 20 columns):
AtBat        322 non-null int64
Hits         322 non-null int64
HmRun        322 non-null int64
Runs         322 non-null int64
RBI          322 non-null int64
Walks        322 non-null int64
Years        322 non-null int64
CAtBat       322 non-null int64
CHits        322 non-null int64
CHmRun       322 non-null int64
CRuns        322 non-null int64
CRBI         322 non-null int64
CWalks       322 non-null int64
League       322 non-null object
Division     322 non-null object
PutOuts      322 non-null int64
Assists      322 non-null int64
Errors       322 non-null int64
Salary       322 non-null float64
NewLeague    322 non-null object
dtypes: float64(1), int64(16), object(3)
memory usage: 50.4+ KB

# Kategorik değişkenleri modellemeye hazır hale getirme

In [7]:
from sklearn.preprocessing import LabelEncoder 
cat_list = ["NewLeague" , "Division" , "League"] 

lbe = LabelEncoder()
for i in cat_list:
    df[i] = lbe.fit_transform(df[i])

In [8]:
df.head(3)
# tip dönüşümlerini başarılı bir şekilde uyguladık

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,0,0,446,33,20,535.925882,0
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,1,1,632,43,10,475.000000,1
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,0,1,880,82,14,480.000000,0

# Bagimli ve bağımsız değişken ayrışımı

In [9]:
X = df.drop("Salary"  , axis = 1) # bagımsız degisken

In [10]:
y = df["Salary"] #bagimli değisken

# Veri setini Train_Test olarak ayırma

In [11]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.20)

In [12]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)
# doğru parcalamışız

(257, 19)
(257,)
(65, 19)
(65,)

# Model Kurma

In [13]:
from sklearn.metrics import mean_squared_error

### Tek değiskenli basit model

In [14]:
X_train = pd.DataFrame(X_train["Hits"])
X_test = pd.DataFrame(X_test["Hits"])

# burda tek değişkenle model kuramak için böyle birşey yaptık
X_train[:3]

     Hits
293   141
157   100
257    90

In [15]:
from sklearn.svm import SVR

In [16]:
svr = SVR("linear") 
# bunun C parametresi ceza(kontrol) parametresidir 
## linear regressionun ne forumda olacağını belirtir doğrusal mı ?

In [17]:
svr_model = svr.fit(X_train , y_train)

In [18]:
dir(svr_model)

['C',
 '__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_compute_kernel',
 '_decision_function',
 '_dense_decision_function',
 '_dense_fit',
 '_dense_predict',
 '_dual_coef_',
 '_estimator_type',
 '_gamma',
 '_get_coef',
 '_get_param_names',
 '_get_tags',
 '_impl',
 '_intercept_',
 '_pairwise',
 '_sparse',
 '_sparse_decision_function',
 '_sparse_fit',
 '_sparse_kernels',
 '_sparse_predict',
 '_validate_for_predict',
 '_validate_targets',
 '_warn_from_fit_status',
 'cache_size',
 'class_weight',
 'class_weight_',
 'coef0',
 'coef_',
 'degree',
 'dual_coef_',
 'epsilon',
 'fit',
 'fit_status_',
 'gamma',
 'get_params',
 'intercept_',
 'kernel',
 'max_iter',
 'n_support_',
 'nu',
 'predict',
 'probA_',
 'probB_',
 'probability',
 'random_state',
 'score',
 'set_params',
 'shape_fit_',
 'shrinking',
 'support_',
 'support_vectors_',
 'tol',
 'verbose']

In [19]:
svr_model.intercept_

array([189.88424863])

In [20]:
svr_model.coef_

array([[2.90875322]])

In [21]:
print("y(control) =  : {} ,  x(katsayı_formu) = {}".format(svr_model.intercept_[0] ,svr_model.coef_[0][0] ))

y(control) =  : 189.88424863210383 ,  x(katsayı_formu) = 2.908753222665382

- burada tahmin edeceğimiz değeri x katsayısıyla carpıp üzerine y değerini eklersek tahmin değerini bulmuş oluruz

In [22]:
y_pred = svr_model.predict(X_test)

In [23]:
y_pred[:1]

array([518.57336279])

In [24]:
X_test[:1]

    Hits
69   113

In [25]:
41 * 3.488372093023372 + 138.8534883720948 
#yukarda belirttiğim cumleyi burada kanıtlamış olduk

281.8767441860531

In [26]:
np.sqrt( mean_squared_error( y_test , y_pred ) )

309.3268165358698

In [ ]:
plt.scatter(X_train , y_train)
ptl.plot(X_train , y_pred ,color = "r")

### tuning - GridSearch

In [27]:
from sklearn.model_selection import GridSearchCV

In [28]:
svr = SVR("linear")
svr_params = {"C" : np.arange(0.1 ,2 ,0.1)}
svr_model_cv = GridSearchCV(svr,
                           svr_params,
                           cv = 10).fit(X_train , y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [29]:
svr_model_cv.best_params_
# yapmış olduğumuz cv işleminden sonra optimum control parametremizi bulduk

{'C': 0.1}

- not  : Eger istersek GridSearch üzerindende tahmin yapabiliriz,ayrıca optimum Conrol değerini kullanır

In [30]:
y_pred = svr_model_cv.predict(X_test)

In [31]:
np.sqrt( mean_squared_error( y_test , y_pred ))

309.3268165358703

# Çok değiskenli model

In [32]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.20)

In [35]:
svr = SVR("linear")
svr_params = {"C" : np.arange(0.1 ,2 ,0.1)}
svr_model_cv = GridSearchCV(svr,
                           svr_params,
                           cv = 10,n_jobs = -1,verbose = 2 ).fit(X_train , y_train)

Fitting 10 folds for each of 19 candidates, totalling 190 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    8.2s
[Parallel(n_jobs=-1)]: Done 138 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 190 out of 190 | elapsed:  4.7min finished
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [39]:
svr_model_cv.best_params_
# yapmış olduğumuz cv işleminden sonra optimum control parametremizi bulduk 
# 4dk bekledim cıkan sonuç aynı

{'C': 0.1}

In [40]:
y_pred = svr_model_cv.predict(X_test)

In [41]:
np.sqrt( mean_squared_error( y_test , y_pred ))

395.7466849883152