In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"degisken1" : [3 ,2 ,5 ,2 ,6, 7], 
                  "degisken2" : [5 ,24 ,2 ,65, 45 ,5],
                  "gruplar" : ["index1" ,"index2" ,"index3" ,"index1" ,"index2" ,"index3"]})

In [6]:
df.apply(np.sum)

degisken1                                      25
degisken2                                     146
gruplar      index1index2index3index1index2index3
dtype: object

In [8]:
df.groupby("gruplar").apply(np.sum)

         degisken1  degisken2       gruplar
gruplar
index1           5         70  index1index1
index2           8         69  index2index2
index3          12          7  index3index3

In [9]:
df.groupby("gruplar").apply(np.mean)

         degisken1  degisken2
gruplar
index1         2.5       35.0
index2         4.0       34.5
index3         6.0        3.5